.bd {
    background-color: #f6f6f6;
}

.center {
    width: 1040px;
    margin: 0px auto;
}

.kong {
    height: 15px;
    width: 100%;
}

/*左侧导航*/
.nav-left {
    float: left;
    margin-bottom: 20px;
}

.nav-left .my-list {
    border: 1px solid #ededed;
}

.nav-left .my-own {
    width: 178px;
    height: 42px;
    border: 1px solid #ededed;
    border-left: none;
    border-right: none;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    /*color: #999;*/
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.nav-left .my-own a {
    width: 178px;
    height: 42px;
    display: inline-block;
}

.nav-left .nav-one {
    border-top: 1px solid #ededed;
}

.nav-left .my-list i {
    background: url("../images/my-account.png") no-repeat;
}

.accicon-l-1,
.accicon-l-2,
.accicon-l-3,
.accicon-l-4,
.accicon-l-5,
.accicon-l-6,
.accicon-l-7,
.accicon-l-8 {
    position: absolute;
    top: 8px;
    left: 18px;
}

.nav-left .my-list i.accicon-l-1 {
    width: 16px;
    height: 23px;
    background-position: -358px -528px;
}

.nav-left .my-list i.accicon-l-2 {
    width: 20px;
    height: 23px;
    background-position: -354px -528px;
}

.nav-left .my-list i.accicon-l-3 {
    width: 22px;
    height: 23px;
    background-position: -392px -528px;
}

.nav-left .my-list i.accicon-l-4 {
    width: 22px;
    height: 24px;
    background-position: -428px -528px;
}

.nav-left .my-list i.accicon-l-5 {
    width: 25px;
    height: 25px;
    background-position: -464px -528px;
}

.nav-left .my-list i.accicon-l-6 {
    width: 25px;
    height: 24px;
    background-position: -499px -528px;
}

.nav-left .my-list i.accicon-l-7 {
    width: 25px;
    height: 26px;
    background-position: -531px -526px;
}

.nav-left .my-list i.accicon-l-8 {
    width: 28px;
    height: 24px;
    background-position: -568px -528px;
}

.nav-left .my-list i.acc-add {
    position: absolute;
    top: 8px;
    left: 38px;
    width: 8px;
    height: 8px;
    background-position: -140px -480px;
}

.nav-left .my-list i.accicon-r-1,
.nav-left .my-list i.accicon-r-2,
.nav-left .my-list i.accicon-r-3,
.nav-left .my-list i.accicon-r-4,
.nav-left .my-list i.accicon-r-5,
.nav-left .my-list i.accicon-r-6,
.nav-left .my-list i.accicon-r-7,
.nav-left .my-list i.accicon-r-8 {
    position: absolute;
    top: 18px;
    right: 24px;
    width: 14px;
    height: 7px;
    background-position: -236px -440px;
}

.my-rec-1,
.my-rec-2,
.my-rec-3,
.my-rec-4,
.my-rec-5,
.my-rec-6,
.my-rec-7,
.my-rec-8 {
    display: block;
    width: 178px;
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    background-color: #fff;
    cursor: pointer;
}

.my-rec-7 li a,
.my-rec-8 li a {
    width: 178px;
    height: 42px;
    display: inline-block;
}

/*左侧导航结束*/

/*右侧内容部分开始*/
.center-right {
    float: right;
    width: 790px;
    padding: 30px;
    margin-bottom: 50px;
    background-color: #fff;
}

.center-right .center-right-nav {
    width: 790px;
    height: 50px;
    font-size: 20px;
    color: #19BD9B;
    border-bottom: 1px solid #cbcbcb;
}

.center-right .center-right-nav h3 {
    text-indent: 30px;
    border-left: 3px solid #19BD9B;
}

/*开始*/

.center-right .help-list {
    width: 790px;
    height: 100%;
    margin-top: 20px;
    background-color: #fff;
}

.center-right .help-list li p {
    position: relative;
}

.center-right .help-list i {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 12px 3px 0;
    background-color: #19BD9B;
}

.center-right .help-list a {
    font-size: 16px;
    /*color: #333;*/
    line-height: 50px;
}

.center-right .help-list li p span {
    position: absolute;
    top: 23px;
    right: 0;
    float: right;
    font-size: 16px;
    color: #999;
    margin-right: 20px;
    width: 14px;
    height: 7px;
    background: url("../images/my-account.png") no-repeat -236px -440px;
}

.center-right .help-text {
    width: 750px;
    height: 100%;
    padding: 20px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

.center-right .help-text p {
    line-height: 30px;
    text-indent: 30px;
}

/*其他问题*/
.center-right .other {
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 18px;
    text-align: center;
    margin: 100px 0;
}

/*结束*/

.right-box {
    width: 850px;
    float: right;
}

.beg-center .begs {
    width: 850px;
    margin: 0 auto;
    padding-bottom: 1px;
    background-color: #fff;
}

.beg-center .begs h3 {
    text-align: center;
    height: 40px;
    width: 790px;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 30px 0px 20px 0;
    font-size: 30px;
    color: #005FA7;
    border-bottom: 1px solid #CBCBCB;

}

.begs-pics {
    width: 850px;
    height: 358px;
    margin-bottom: 50px;
}

.begs-picr {
    float: right;
    width: 500px;
    height: 358px;
    margin-right: 30px;
}

.begs-picl {

    float: left;
    width: 500px;
    height: 358px;
    margin-left: 30px;
}

.begs-txtl,
.begs-txtr {
    width: 310px;
    height: 200px;
    /*text-align: center;*/
    padding-top: 100px;
}

.begs-txtl {
    float: right;
}

.begs-txtr {
    float: left;
}

.begs-txtl .beg-num,
.begs-txtr .beg-num {
    width: 61px;
    height: 61px;
    margin: 0 auto;
    line-height: 61px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    background: url("../images/my-account.png") no-repeat -428px -176px;
}

.begs-txtl p,
.begs-txtr p {
    font-size: 14px;
    margin: 30px;
    color: #333;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
}

.begs-txtr em,
.begs-txtl em {
    color: #f00b0d;
    margin: 0 30px;
    display: inline-block;
}

/*常用工具*/
.myindex02 {
    height: auto;
    padding: 0px;
    clear: both;
    overflow: hidden;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

.myindex02 .yk_news {
}

.myindex02 .yh-list {
    margin: 0px 0px 30px 170px;

}

.myindex02 .yh-list a {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #EEEEEE;
    color: #999999;
    font-size: 18px;
    line-height: 40px;
    margin-left: 20px;
    padding: 0 25px;
    margin-top:20px;
    border-radius: 10px;
    display: inline-block;
    word-break: keep-all;
}

.myindex02 .yh-list a.active {
    color: #fff;
    background: #F34A20;
}

.myindex02 .jsq-form-ul li {
    clear: both;
    height: 45px;
}

.myindex02 .jsq-form-ul li span {
    float: left;
    line-height: 26px;
    margin-right: 10px;
}

.myindex02 table {
    margin-left:120px;
    border-collapse: collapse;
    border-spacing: 0;
}

.myindex02 table tr th {
    border: 1px solid #E9E9E9;
    /*background: url(theadbg.png);*/
    font-weight: normal;
}

.myindex02 table tr td {
    border: 1px solid #eee;
    text-align: center;
    height: 20px;
    line-height: 20px;
    padding: 5px 8px;
}

.myindex02 .big_tit {
    height: 64px;
    line-height: 64px
}

.myindex02 .news_content {
    padding: 0;
}

.myindex02 .jiekuan_jisuan {
    margin: 20px auto;
    width: 90%;
    overflow: hidden;
    margin-bottom: 0;
}

.myindex02 .jiekuan_shezhi {
    font-size: 16px;
    color: #F3270D;
    line-height: 40px;
}

.myindex02 .jiekuan_con span {
    width: 50%;
    display: block;
    float: left;
    margin: 10px 0;
}

.myindex02 .jiekuan_con span input, .myindex02 .jiekuan_con span select {
    height: 32px;
    line-height: 32px;
    padding-left: 1%;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    border: #DFDCDC 1px solid;
}

.myindex02 .start_suan {
    float: right;
    margin-right: 20%;
    background-color: #FCDBDB;
    border: 1px solid #DFF1FE;
    border-radius: 5px;
    color: #F3270D;
    width: 100px;
    line-height: 31px;
    border: 1px solid #F3270D;
}

.myindex02 a:hover input {
    background-color: #F3270D;
    color: #FFF;
    cursor: pointer;
}

.myindex02 h2 {
    margin: 10px 0px;
    text-align: left;
    color: #F3270D;
}

.myindex02 .loan_calculator {
    line-height: 34px;
}

.myindex02 .loanTable td {
    line-height: 34px;
    text-align: center
}

.myindex02 .orange {
    color: #F3270D;
    margin: 0 5px;
}

.myindex02 .about_us_right {
    margin-left:50px;
}

