.bd {
    background-color: #f6f6f6;
}

.center {
    width: 1040px;
    margin: 0px auto;
}

.kong {
    height: 15px;
    width: 100%;
}

/*左侧导航*/
.nav-left {
    float: left;
    margin-bottom:20px;
}

.nav-left .my-list {
    border: 1px solid #ededed;
}

.nav-left .my-own {
    width: 178px;
    height: 42px;
    border: 1px solid #ededed;
    border-left: none;
    border-right: none;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    color: #999;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.nav-left .nav-one {
    border-top: 1px solid #ededed;
}

.nav-left .my-list i {
    background: url("../images/my-account.png") no-repeat;
}

.accicon-l-1,
.accicon-l-2,
.accicon-l-3,
.accicon-l-4,
.accicon-l-5,
.accicon-l-6,
.accicon-l-7 {
    position: absolute;
    top: 8px;
    left: 18px;
}

.nav-left .my-list i.accicon-l-1 {
    width: 27px;
    height: 24px;
    background-position: -165px -458px;
}

.nav-left .my-list i.accicon-l-2 {
    width: 24px;
    height: 24px;
    background-position: -200px -458px;
}

.nav-left .my-list i.accicon-l-3 {
    width: 27px;
    height: 27px;
    background-position: -231px -458px;
}

.nav-left .my-list i.accicon-l-4 {
    width: 24px;
    height: 24px;
    background-position: -267px -458px;
}

.nav-left .my-list i.accicon-l-5 {
    width: 20px;
    height: 22px;
    background-position: -304px -458px;
}

.nav-left .my-list i.accicon-l-6 {
    width: 20px;
    height: 22px;
    background-position: -304px -458px;
}

.nav-left .my-list i.accicon-l-7 {
    width: 21px;
    height: 23px;
    background-position: -336px -458px;
}

.nav-left .my-list i.acc-add {
    position: absolute;
    top: 8px;
    left: 38px;
    width: 8px;
    height: 8px;
    background-position: -140px -480px;
}

.nav-left .my-list i.accicon-r-1,
.nav-left .my-list i.accicon-r-2,
.nav-left .my-list i.accicon-r-3,
.nav-left .my-list i.accicon-r-4 {
    position: absolute;
    top: 18px;
    right: 24px;
    width: 14px;
    height: 7px;
    background-position: -236px -440px;
}

.my-rec-1,
.my-rec-2,
.my-rec-3,
.my-rec-4 {
    display: block;
    width: 178px;
    color: #333;
    font-size: 16px;
    text-align: center;
    line-height: 42px;
    background-color: #fff;
    cursor: pointer;
}

/*左侧导航结束*/

/*主页*/
.home-box {
    width: 850px;
    float: right;
}

.home-box > div {
    margin: 0 0 12px 0;
}

/*顶部*/
/*head部分开始*/
.home-box .my-all-head {
    width: 790px;
    height: 238px;
    padding: 30px;
    background-color: #fff;
}

.my-all-head .my-all-head-1 {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #ccc;
}

.my-all-head .my-all-head-2 {
    width: 100%;
    height: 100px;
}

.my-all-head .my-all-head-2 dl {
    margin-top: 5px;
}

.my-all-head .my-all-head-2 dd span {
    display: inline-block;
    width: 224px;
    height: 40px;
    font-size: 16px;
    color: #656565;
    text-align: left;
    line-height: 60px;
    overflow: hidden;

}

.my-all-head .my-head {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 50%;
    overflow: hidden;
    background: url("../images/my-account.png") no-repeat -193px -498px;
}

.my-all-head .my-head img {
    width: 100%;
    height: 100%;

}

.my-all-head .my-texts {
    margin-top: 15px;
    float: left;
}

.my-all-head .my-texts h3 {
    font-size: 16px;
    color: #656565;
}

.my-all-head .my-texts h3 em {
    color: #F3270D;
}

.my-all-head .my-head-times p {
    font-size: 14px;
    color: #999;
    margin-top: 30px;
    line-height: 24px;
    float: left;
    position: relative;
}

.my-all-head .my-head-times p i {
    width: 24px;
    height: 24px;
}

.my-all-head .my-head-times p i.my-icon-1 {
    position: absolute;
    top: 0;
    right: 60px;
    background: url("../images/r1.png") no-repeat;
    background-size:24px;
}

.my-all-head .my-head-times p i.my-icon-2 {
    position: absolute;
    right: 24px;
    background: url("../images/m1.png") no-repeat;
    background-size:24px;
}

.my-all-head .my-head-times p i.my-icon-1s {
    position: absolute;
    top: 0;
    right: 60px;
    background: url("../images/rr.png") no-repeat;
    background-size:24px;
}

.my-all-head .my-head-times p i.my-icon-2s {
    position: absolute;
    top: 0;
    right: 24px;
    background: url("../images/mm.png") no-repeat;
    background-size:24px;
}

.my-all-head .Account-security {
    width: 145px;
    height: 24px;
    padding-right: 15px;
    border-right: 1px solid #ccc;
}

.my-all-head .registration-time {
    margin-left: 25px;
}

.my-all-head .my-all-head-2 dd .chongzhi {
    width: 100px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    background-color: #F3270D;
}

.my-all-head .my-all-head-2 dd .tixian {
    width: 100px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    background-color: #2EA7E0;
}

.my-all-head .my-all-head-2 dd span em {
    color: #F3270D;
}

/*head部分结束*/
/*日历表*/
.home-box .my-times {
    width: 100%;
    height: 630px;
    padding-top: 50px;
    background-color: #fff;
    position: relative;
}

/*图例*/
.time-cutline {
    position: absolute;
    top: 106px;
    left: 125px;
}

.time-cutline > div {
    font-size: 12px;
    width: 80px;
    height: 25px;
    float: left;
    margin-right: 15px;

}

.cutline-1 p,
.cutline-2 p,
.cutline-3 p {
    width: 40px;
    height: 25px;
    float: left;
    line-height: 25px;
    text-align: center;
}

.color-1 {
    background-color: #920683;
}

.color-2 {
    background-color: #F3270D;
}

.color-3 {
    background-color: #abcdef;
}

#wrap {
    width: 700px;
    height: 520px;
    margin: 0px auto;
    padding-top: 50px;
    background: #ededed;
}

#kalendar {
    width: 600px;
    margin: 0 auto;
}

/* 选择年月 的行 */
#kalendar tr#select {
    height: 30px;
    /*background: #fff;*/
}

#kalendar tr#select td {
    clear: both;
}

#kalendar tr#select td div {
    float: left;
    width: 160px;
    height: 30px;
    line-height: 30px;
}

#kalendar tr#select #year, #kalendar tr#select #month {
    width: 135px;
    padding-left: 20px;
    background-color: #fff;
    margin-right: 8px;
    float: right;
}

#select #year ul, #select #month ul {
    clear: both;
}

#select #year ul li, #select #month ul li {
    float: left;
    width: 30px;
}

#select #year ul li input, #select #month ul li input {
    width: 30px;
    text-align: 30px;
    cursor: pointer;
}

#select #year ul li.selectChange, #select #month ul li.selectChange {
    width: 70px;
    height: 10px;
}

#select #year ul li.selectChange select, #select #month ul li.selectChange select {
    width: 70px;
    padding-left: 2px;
    cursor: pointer;
}

#select #year ul li.selectChange select option, #select #month ul li.selectChange select option {
    padding-left: 5px;
}

/* 星期表头 的行 */
#kalendar tr#week {
    height: 50px;
}

#kalendar tr#week td ul {
    width: 600px;
    clear: both;
}

#kalendar tr#week td ul li {
    float: left;
    width: 83px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 1px;
    background: #9999CC;
}

/* 某月具体日期 的每一行 */
#kalendar tr#day ul.dayList {
    width: 600px;
    height: 60px;
    clear: both;
    margin: 2px auto;
}

#kalendar tr#day ul.dayList li {
    float: left;
    width: 83px;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    margin: 0 1px;
    background: #fff;
    cursor: pointer;
}

/* 日期占用行数(4-6行)，将不需要显示的行隐藏 */
#kalendar tr#day ul.hide {
    display: none;
}

/* 周末 的特殊样式 */
#week .weekend, #day .weekend {
    color: #EA0000;
}

/* 下面几个样式注意顺序，选择器不能简写，否则日历中 今天 的样式会被鼠标滑过的样式替换 */
/* 鼠标经过某个日期 的特殊样式 */
#kalendar tr#day td ul.dayList li.mouseFloat {
    background: #FFDCB9;
}

/* 当天是周末 的特殊样式 */
#kalendar tr#day td ul.dayList li.todayWeekend {
    color: #EA0000;
    background: #abcdef;
    font-weight: 700;
}

/* 当天 的特殊样式 */
#kalendar tr#day td ul.dayList li.today {
    background: #abcdef;
    font-weight: 700;
}

/*日历结束*/

/*投资记录*/
.home-box .my-investtake {
    width: 100%;
    background-color: #fff;
}

.my-investtake .investtake-content {
    padding: 20px 20px 20px 20px;
}

.my-investtake .investtake-content h2 {
    width: 80px;
    height: 24px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
    position: relative;
}

.my-investtake .investtake-content h2 i {
    background: url("../images/my-account.png") no-repeat;
}

.my-investtake .investtake-content h2 i {
    width: 80px;
    height: 8px;
    position: absolute;
    left: -8px;
    bottom: -12px;
    background-position: -244px -40px;
}

.my-investtake .record-lists {
    padding: 30px 0 0 0;
}

.my-investtake .record-list {
    width: 810px;
    margin-bottom: 5px;
    overflow: hidden;
}

.my-investtake .record-list dt {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding-left: 2px;
    background-color: #f5f5f5;
}

.my-investtake .record-list .status {
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-investtake .record-list .price {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-investtake .record-list .user {
    width: 88px;
}

.my-investtake .record-list .source {
    width: 90px;
}

.my-investtake .record-list .time {
    width: 100px;
}

.my-investtake .record-list dt span {
    color: #656565;
    font-size: 16px;
    text-align: center;
}

.my-investtake .record-list span {
    float: left;
    display: inline;
    padding: 0 5px;
    vertical-align: middle;
    color: #333;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}

.my-investtake .record-list dd {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.my-investtake .record-list .source i {
    display: inline-block;
    background: url("../images/my-account.png") no-repeat;
}

.my-investtake .record-list .source i.source-pc {
    width: 24px;
    height: 20px;
    background-position: -454px -8px;
}

.my-investtake .record-list .source i.source-mob {
    width: 18px;
    height: 24px;
    margin-left: 3px;
    background-position: -454px -37px;
}

.my-investtake-more {
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #333;
    line-height: 50px;
    text-align: center;
    background-color: #f9f9f9;
}

.my-investtake-more a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/*投资记录结束*/

/*资金记录*/
.home-box .fundtake {
    width: 100%;
    height: 464px;
    background-color: #fff;
}

.fundtake .fundtake-content {
    padding: 20px 20px 20px 20px;
}

.fundtake .fundtake-content h2 {
    width: 80px;
    height: 24px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
    position: relative;
}

.fundtake .fundtake-content h2 i {
    background: url("../images/my-account.png") no-repeat;
}

.fundtake .fundtake-content h2 i {
    width: 80px;
    height: 8px;
    position: absolute;
    left: -8px;
    bottom: -12px;
    background-position: -244px -40px;
}

.fundtake .record-lists {
    padding: 30px 0 0 0;
}

.fundtake .record-list {
    width: 810px;
    height: 300px;
    margin-bottom: 5px;
    overflow: hidden;
}

.fundtake .record-list dt {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding-left: 2px;
    background-color: #f5f5f5;
}

.fundtake .record-list .status {
    width: 150px;
}

.fundtake .record-list .price {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fundtake .record-list .user {
    width: 100px;
}

.fundtake .record-list .source {
    width: 100px;
}

.fundtake .record-list .time {
    width: 200px;
}

.fundtake .record-list dt span {
    color: #656565;
    font-size: 16px;
    text-align: center;
}

.fundtake .record-list span {
    float: left;
    display: inline;
    padding: 0 5px;
    vertical-align: middle;
    /*color: #333;*/
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}

.fundtake .record-list dd {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.fundtake .record-list .source i {
    display: inline-block;
    background: url("../images/my-account.png") no-repeat;
}

.fundtake .record-list .source i.source-pc {
    width: 24px;
    height: 20px;
    background-position: -454px -8px;
}

.fundtake .record-list .source i.source-mob {
    width: 18px;
    height: 24px;
    margin-left: 3px;
    background-position: -454px -37px;
}

.fundtake-more {
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #333;
    margin-top:10px;
    line-height: 50px;
    text-align: center;
    background-color: #f9f9f9;
}

.fundtake-more a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

/*资金记录结束*/

/*主页结束*/

/*充值+提现*/
.recharge,
.withdraw {
    float: right;
    width: 750px;
    /*height: 100%;*/
    padding: 50px 50px;
    overflow: hidden;
    background-color: #fff;
}

.recharge-txt,
.withdraw-txt {
    padding: 30px;
    border: 1px dashed #F3270D;
}

.recharge h3,
.withdraw h3 {
    width: 748px;
    height: 56px;
    font-size: 16px;
    color: #333;
    line-height: 56px;
    margin: 0px 0;

}

.recharge h3 .wjx,
.withdraw h3 .wjx {
    width: 19px;
    height: 17px;
    margin-right: 10px;
    display: inline-block;
    background: url("../images/my-account.png") no-repeat -219px -136px;
}

.recharge-txt p,
.withdraw-txt p {
    color: #656565;
    font-size: 14px;
    line-height: 22px;
}

.recharge-num,
.withdraw-num {
    width: 322px;
    height: 200px;
    margin: 50px auto;
}

.recharge-num li,
.withdraw-num li {
    padding: 8px 0;
    overflow: hidden;
    position: relative;
}

.recharge-num li span,
.withdraw-num li span {
    width: 100%;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
    display: block;
    float: left;
}

.withdraw-num li span em,
.recharge-num li span em {
    color: #F3270D;
    margin: 0 10px 0 15px;
}

.withdraw-num li label,
.recharge-num li label {
    font-size: 16px;
    line-height: 42px;
    display: block;
    float: left;
}

.withdraw-num li input,
.recharge-num li input {
    width: 220px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    border: 1px solid #cccccc;
    padding-left: 5px;
    margin-left: 20px;
    /*border-radius: 4px;*/
    float: left;
}

.withdraw-num li .withdraw-sub,
.recharge-num li .recharge-sub {
    display: inline-block;
    width: 250px;
    height: 45px;
    color: #D7D7D7;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    border-radius: 4px;
    margin: 27px 0 0 36px;
    background-color: #F3270D;
}

.recharge-num li .recharge-sub:hover {
    color: #fff;
}

.withdraw-num li .withdraw-sub:hover {
    color: #fff;
}

.withdraw-suss,
.recharge-suss {
    width: 850px;
    height: 500px;
    float: right;
    background-color: #fff;
    display: none;

}

.withdraw-prompt,
.recharge-prompt {
    width: 220px;
    height: 150px;
    margin: 150px auto;
}

.withdraw-prompt h3,
.recharge-prompt h3 {
    color: #656565;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
    position: relative;
}

.withdraw-prompt h3 i,
.recharge-prompt h3 i {
    position: absolute;
    top: 18px;
    left: 0px;
    width: 32px;
    height: 32px;
    background: url("../images/success.png") no-repeat center center;
}

.withdraw-prompt span,
.recharge-prompt span {
    width: 100%;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
    display: block;
    float: left;
}

.withdraw-prompt span em,
.recharge-prompt span em {
    color: #F3270D;
    margin: 0 10px 0 15px;
}

/*右侧内容-安全中心*/
.center-subs {
    float: right;
    width: 750px;
    /*height: 100%;*/
    margin-bottom: 30px;
    padding: 30px 50px;
    background-color: #fff;
}

.center-subs-title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.center-subs-title p {
    height: 48px;
    line-height: 50px;
    width: 100px;
    color: #F3270D;
    font-size: 16px;
    text-align: center;
    border-bottom: 3px solid #F3270D;
}

.center-subs-list dd {
    height: 40px;
    width: 100%;
    margin: 30px 0 30px 68px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
}

.center-subs-list dd span {
    float: left;
    display: inline;
    width: 200px;
    padding: 0 10px;
    font-size: 16px;
    color: #656565;
    vertical-align: middle;
    text-align: left;
    text-indent: 60px;
}

.center-subs-list dl a {
    display: inline-block;
    width: 120px;
    height: 40px;
    font-size: 14px;
    margin-left: 230px;
    text-align: center;
    border-radius: 5px;
    line-height: 40px;

}

.center-subs-list dd .status {
    color: #656565;
}

.center-subs-list dd .price {
    color: #333;
}

.center-subs-list dl .atte {
    color: #fff;
    background-color: #F3270D;
}

.center-subs-list dd i {
    position: absolute;
    top: 12px;
    left: 34px;
    width: 16px;
    height: 16px;
    background: url("../images/my-account.png") no-repeat;
}

.center-subs-list dd i.cuss-icon-1 {
    background-position: -135px -505px;
}

.center-subs-list dd i.cuss-icon-2 {
    background-position: -160px -505px;
}

/*安全中心*/

/*基本信息开始*/
.center-subs .center-subs-nav ul {
    width: 100%;
    height: 38px;
    /*background-color: pink;*/
    border-bottom: 1px solid #ccc;
}

.center-subs .center-subs-nav li {
    float: left;
    width: 88px;
    height: 37px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.center-subs li.red-bor {
    color: #F3270D;
    border-bottom: 2px solid #F3270D;
}

.center-subs .center-subs-myinfo h3 {
    width: 748px;
    height: 56px;
    font-size: 14px;
    color: #656565;
    line-height: 56px;
    text-indent: 15px;
    margin: 30px 0;
    border: 1px dashed #F3270D;
}

.center-subs .center-subs-myinfo h3 .wjx {
    width: 19px;
    height: 17px;
    margin-right: 10px;
    display: inline-block;
    background: url("../images/my-account.png") no-repeat -219px -136px;
}

.center-subs .center-subs-myinfo .form {
    width: 500px;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
    font-size: 16px;
    color: #656565;
    text-align: left;
}

.center-subs .personal {
    padding: 8px 0;
    overflow: hidden;
    position: relative;
}

.center-subs .center-subs-myinfo .form label {
    width: 114px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: right;
    display: block;
    float: left;
}

.center-subs .form .infos {
    width: 300px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    border: 1px solid #BFBFBF;
    padding-left: 5px;
    margin-left: 30px;
    /*border-radius: 4px;*/
    float: left;
}

.center-subs .record {
    width: 307px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid #BFBFBF;
    padding-left: 5px;
    margin-left: 30px;
    /*border-radius: 4px;*/
    float: left;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/select.fw.png") right center no-repeat;
    cursor: pointer;
}

.center-subs .form a.conform {
    width: 150px;
    height: 36px;
    line-height: 36px;
    display: block;
    text-align: center;
    overflow: hidden;
    border: 1px solid #F3270D;
    border-radius: 3px;
    margin: 30px 150px;
    color: #fff;
    opacity: 0.9;
    background-color: #F3270D;
}

.center-subs .form a.conform:hover {
    color: #fff;
    opacity: 1;
    background-color: #F3270D;
}

/*基本信息结束*/

/*头像*/
.center-subs-myhead h3 {
    width: 748px;
    height: 56px;
    font-size: 14px;
    color: #656565;
    line-height: 56px;
    text-indent: 15px;
    margin: 30px 0;
    border: 1px dashed #F3270D;
}

.center-subs-myhead h3 .wjx {
    width: 19px;
    height: 17px;
    margin-right: 10px;
    display: inline-block;
    background: url("../images/my-account.png") no-repeat -219px -136px;
}

.center-subs-myhead .container {
    width: 400px;
    margin: 40px 0 0 100px;
    position: relative;
    font-family: 微软雅黑;
    font-size: 12px;
}

.center-subs-myhead .action {
    width: 450px;
    height: 250px;
    margin: 10px 0;
    background-color: #f3f3f3;
}

/*选择文件上传*/
.center-subs-myhead .new-contentarea {
    overflow: hidden;
    padding-top: 100px;
}

.center-subs-myhead .new-contentarea label {
    width: 100%;
    /*height: 100%;*/
    display: block;
}

.center-subs-myhead .new-contentarea input[type=file] {
    width: 188px;
    height: 60px;
    background: #333;
    margin: 0 auto;
    position: absolute;
    right: 50%;
    margin-right: -94px;
    top: 0;
    right /*\**/: 0px \9;
    margin-right /*\**/: 0px \9;
    width /*\**/: 10px \9;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 2;
}

.center-subs-myhead a.upload-img {
    width: 165px;
    display: inline-block;
    margin-bottom: 10px;
    height: 57px;
    line-height: 57px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #F3270D;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    border: 0px #fff solid;
    box-shadow: 0px 0px 5px #B0B0B0;
}

.center-subs-myhead a.upload-img:hover {
    background-color: #F3270D;
}

.center-subs-myhead .tc {
    text-align: center;
}

/*头像结束*/

/*昵称*/

.center-subs-mynickname h3 {
    width: 748px;
    height: 56px;
    font-size: 14px;
    color: #656565;
    line-height: 56px;
    text-indent: 15px;
    margin: 30px 0;
    border: 1px dashed #F3270D;
}

.center-subs-mynickname h3 .wjx {
    width: 19px;
    height: 17px;
    margin-right: 10px;
    display: inline-block;
    background: url("../images/my-account.png") no-repeat -219px -136px;
}

.mynickname-infos li {
    padding: 8px 0;
    overflow: hidden;
    margin-left: 50px;
    position: relative;
}

.mynickname-infos label {
    width: 114px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: right;
    display: block;
    float: left;
}

.mynickname-infos input {
    width: 300px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    border: 1px solid #ededed;
    padding-left: 5px;
    margin-left: 30px;
    /*border-radius: 4px;*/
    float: left;
}

.mynickname-submit {
    display: inline-block;
    width: 250px;
    height: 45px;
    color: #fff;
    opacity:0.8;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    border-radius: 4px;
    margin: 30px 0 0 180px;
    background-color: #F3270D;
}

.mynickname-submit:hover {
    color: #fff;
    opacity:1;
}


/*修改密码*/

.center-subs-mypassword h3 {
    width: 748px;
    height: 56px;
    font-size: 14px;
    color: #656565;
    line-height: 56px;
    text-indent: 15px;
    margin: 30px 0;
    border: 1px dashed #F3270D;
}

.center-subs-mypassword h3 .wjx {
    width: 19px;
    height: 17px;
    margin-right: 10px;
    display: inline-block;
    background: url("../images/my-account.png") no-repeat -219px -136px;
}


.mypassword-infos li {
    padding: 8px 0;
    overflow: hidden;
    margin-left: 50px;
    position: relative;
}

.mypassword-infos label {
    width: 114px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: right;
    display: block;
    float: left;
}

.mypassword-infos input {
    width: 300px;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    border: 1px solid #ededed;
    padding-left: 5px;
    margin-left: 30px;
    /*border-radius: 4px;*/
    float: left;
}

.mypassword-submit {
    display: inline-block;
    width: 250px;
    height: 45px;
    color: #fff;
    opacity:0.8;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    border-radius: 4px;
    margin: 30px 0 0 180px;
    background-color: #F3270D;
}

.mypassword-submit:hover {
    color: #fff;
    opacity:1;
}
.mynickname-suss,
.mypassword-suss {
    width: 220px;
    height: 150px;
    margin: 150px auto;
}


.mynickname-suss h2,
.mypassword-suss h2 {
    color: #656565;
    text-align: center;
    line-height: 70px;
    font-size: 24px;
    position: relative;
}
.mynickname-suss h2 i,
.mypassword-suss h2 i {
    position: absolute;
    top: 18px;
    left: 0px;
    width: 32px;
    height: 32px;
    background: url(../images/success.png) no-repeat center center;
}
/*我的邀请开始+我的佣金*/

/*邀请码*/
.Invitation-code {
    width: 748px;
    height: 107px;
    margin: 40px 0;
    background-color: #FDF9F3;
    border: 1px solid #F3270D;
}

.Invitation-box {
    width: 600px;
    /*height: 100%;*/
    float: left;
}

.Invitation-code dt span,
.Invitation-code dd span {
    display: inline-block;
    width: 196px;
    height: 30px;
    text-align: center;
}

.Invitation-code dt span {
    font-size: 16px;
    color: #333;
    margin-top: 25px;
}

.Invitation-code dd span {
    font-size: 20px;
    color: #F3270D;
}

.code700 {
    font-weight: 700;
}

.copy-link {
    width: 120px;
    height: 38px;
    float: left;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    margin-top: 34px;
    background-color: #F3270D;
}

.copy-link a {
    display: inline-block;
    color: #fff;
    width: 120px;
    height: 38px;
}

/*%*/
.invite-nums {
    position: relative;
}

.invite-nums table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #c0c0c0;
    width: 750px;
}

.invite-nums th,
.invite-nums td {
    border: 1px solid #999;
    padding: 13px 0px;
}

.invite-nums th {
    font: 700 16px "微软雅黑";
    color: #000;
}

.invite-nums td {
    text-align: center;
    font: 700 16px "微软雅黑";
}

.fenlei {
    width: 200px;
    height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/table.fw.png") no-repeat;
}

.grade {
    filter: alpha(opacity=0); /* IE */
    -moz-opacity: 0; /* Moz + FF */
    opacity: 0; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}

.my-invitetake {
    width: 750px;
    /*height: 100%;*/
    float: right;
    padding: 0 50px 0;
    margin: 0px 0 50px 0;
    background-color: #fff;
}

.my-invitetake .invitetake-content {
    padding: 20px 0px 20px 0px;
}

.my-invitetake .invitetake-content h2 {
    width: 80px;
    height: 24px;
    margin: 0 auto;
    font-size: 16px;
    color: #333;
    position: relative;
}

.my-invitetake .invitetake-content h2 i {
    background: url("../images/my-account.png") no-repeat;
}

.my-invitetake .invitetake-content h2 i {
    width: 80px;
    height: 8px;
    position: absolute;
    left: -8px;
    bottom: -12px;
    background-position: -244px -40px;
}

.invite-search {
    width: 100%;
    height: 80px;
    margin-top: 30px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #999;
}

.invite-search input {
    width: 270px;
    height: 38px;
    padding-left: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin: 20px 50px 0 20px;
}

.invite-search .rank {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    margin-right: 50px;
    font-size: 16px;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    padding-left: 5px;
    appearance: none;
    -webkit-appearance: none;
    background: url(../images/select.fw.png) right center no-repeat;
    background-color: #fff;
    cursor: pointer;
}

.invite-search button {
    width: 120px;
    height: 40px;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    background-color: #F3270D;
    cursor: pointer;
}

.my-invitetake-more {
    width: 100%;
    height: 50px;
    font-size: 14px;
    color: #333;
    line-height: 50px;
    text-align: center;
    display: none;
    background-color: #f9f9f9;
}

.my-invitetake-more a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.invite-list dt {
    width: 100%;
    height: 50px;
    font-weight: 400;
    background-color: #F3F3F3;
}

.invite-list dd {
}

.invite-list span {
    display: inline-block;
    line-height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.invite-list span.hail-fellow {
    width: 280px;
}

.invite-list span.invite-time {
    width: 180px;
}

.invite-list span.req-code,
.invite-list span.invite-grade {
    width: 130px;
}

.invite-none {
    width: 100%;
    /*height: 500px;*/
}

.none-fellow {
    width: 350px;
    height: 200px;
    margin: 0px auto;
    padding: 100px 0 0 0;
    text-align: center;
    font-size: 14px;
}

.none-fellow-pic {
    margin: 0 auto 30px auto;
    width: 100px;
    height: 100px;
    background: url("../images/my-account.png") no-repeat -291px -348px;
}

.none-fellow p {
    line-height: 30px;
}

.none-fellow p em {
    color: #F3270D;
}

/*我的佣金结束*/
/*我的邀请结束*/

/*回款记录开始*/
/*筛选*/

.invitetake-content .my-screen .select {
    padding: 5px 0px;
    /*border: #ddd 1px solid;*/
    width: 100%;
    /*height: 100%;*/
    margin: 0 auto;
    font-size: 14px;
    background-color: #fff;
}

.invitetake-content .my-screen .select li {
    list-style: none;
    padding: 10px 0 5px 52px;
}

.invitetake-content .my-screen .select dl {
    zoom: 1;
    position: relative;
    line-height: 24px;
}

.invitetake-content .my-screen .select dl:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
}

.invitetake-content .my-screen .select dt {
    width: 100px;
    margin-bottom: 5px;
    position: absolute;
    top: 3px;
    left: -74px;
    font-size: 16px;
    text-align: right;
    color: #666;
    height: 24px;
    line-height: 24px;
}

.invitetake-content .my-screen .select dd {
    float: left;
    display: inline;
    margin: 0 0 5px 30px;
}

.invitetake-content .my-screen .select a {
    display: inline-block;
    white-space: nowrap;
    height: 24px;
    padding: 4px 12px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    border-radius: 5px;
}

.invitetake-content .my-screen .select a:hover {
    color: #F3270D;
    background-color: #f3edc2;
}

.invitetake-content .my-screen .select .selected a {
    color: #fff;
    background-color: #F3270D;
}

.invitetake-content .my-screen .select .sel-time-icon {
    display: inline-block;
    width: 18px;
    height: 8px;
    margin-left:20px;
    background: url("../images/my-account.png") no-repeat -286px -136px;
}

/*筛选结束*/

.invitetake-list {
    margin: 10px 0 0 0;
}

.invitetake-list dt {
    width: 100%;
    height: 50px;
    font-weight: 400;
    background-color: #F3F3F3;
}

.invitetake-list span {
    display: inline-block;
    line-height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.invitetake-list span.hail-fellow {
    width: 255px;
}

.invitetake-list span.invite-time {
    width: 140px;
}

.invitetake-list span.req-code {
    width: 130px;
}

.invitetake-list span.invite-grade {
    width: 80px;
}

.invitetake-list span.invite-status {
    width: 126px;
}

/*分页开始*/
#pageToolbar {
    padding: 30px 0;
    background-color: #fff;
}

.ui-paging-container {
    color: #666;
    font-size: 14px;
}

.ui-paging-container ul {
    overflow: hidden;
    text-align: center;
}

.ui-paging-container ul, .ui-paging-container li {
    list-style: none;
}

.ui-paging-container li {
    display: inline-block;
    padding: 3px 9px;
    margin-left: 5px;
    color: #666;
}

.ui-paging-container li.ui-pager {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 14px;
}

.ui-paging-container li.ui-pager:hover, .ui-paging-container li.focus {
    background-color: #F3270D;
    color: #FFFFFF;
}

.ui-paging-container li.ui-paging-ellipse {
    border: none;
}

.ui-paging-container li.ui-paging-toolbar {
    padding: 0;
}

.ui-paging-container li.ui-paging-toolbar select {
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #666;
}

.ui-paging-container li.ui-paging-toolbar input {
    line-height: 20px;
    height: 30px;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 45px;
    margin: 0 0 0 5px;
    vertical-align: middle;
}

.ui-paging-container li.ui-paging-toolbar a {
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    height: 30px;
    border: 1px solid #ddd;
    vertical-align: top;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 3px;
    cursor: pointer;
    margin: 1px 0 0 5px;
    color: #666;
}

.ui-paging-container li.ui-pager-disabled, .ui-paging-container li.ui-pager-disabled:hover {
    background-color: #f6f6f6;;
    cursor: default;
    /*border: none;*/
    color: #ddd;
}

/*分页结束*/

/*回款记录结束*/

/*借款记录开始*/

.my-borrowing-list {
    margin-top: 10px;
}

.my-borrowing-list dt {
    width: 100%;
    height: 50px;
    font-weight: 400;
    background-color: #F3F3F3;
}

.my-borrowing-list dd {
}

.my-borrowing-list span {
    display: inline-block;
    line-height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.my-borrowing-list span.invite-time {
    width: 105px;
}

.my-borrowing-list span.hail-fellow {
    width: 150px;
}

.my-borrowing-list span.guarantor {
    width: 98px;
}

.my-borrowing-list span.institution {
    width: 100px;
}

.my-borrowing-list span.req-code {
    width: 100px;
}

.my-borrowing-list span.invite-grade {
    width: 80px;
}

.my-borrowing-list span.invite-status {
    width: 90px;
}

/*借款记录结束*/

/*资金记录开始*/

.my-financing-list {
    margin-top: 10px;
}

.my-financing-list dt {
    width: 100%;
    height: 50px;
    font-weight: 400;
    background-color: #F3F3F3;
}

.my-financing-list dd {
    position: relative;
    cursor: pointer;
}

.my-financing-list dd .financing-icon-D {
    position: absolute;
    top: 22px;
    right: 30px;
    width: 14px;
    height: 7px;
    background: url("../images/my-account.png") no-repeat -236px -440px;
}

.my-financing-list span {
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.my-financing-list span.invite-time {
    width: 180px;
}

.my-financing-list span.hail-fellow {
    width: 180px;
}

.my-financing-list span.req-code {
    width: 182px;
}

.my-financing-list span.invite-status {
    width: 194px;
}

.my-financing-list ul {
    height: 80px;
    width: 100%;
}

.my-financing-list li {
    float: left;
    height: 80px;
    text-align: center;
    background-color: #f3f3f3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-financing-list li span {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.my-financing-list li span.span-fellow {
    width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-financing-list li p {
    text-align: center;
    font-size: 14px;
}

.my-financing-list li.li-fellow {
    width: 210px;
}

.my-financing-list li.li-req-code {
    width: 130px;
}

.my-financing-list li.li-in-time {
    width: 150px;
}

.my-financing-list li.li-in-mit {
    width: 150px;
}

.my-financing-list li.li-in-stas {
    width: 110px;
}

/*资金记录结束*/

/*提现记录开始*/

.my-drawmoney-list {
    margin-top: 10px;
}

.my-drawmoney-list dt {
    width: 100%;
    height: 50px;
    font-weight: 400;
    background-color: #F3F3F3;
}

.my-drawmoney-list span {
    display: inline-block;
    line-height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.my-drawmoney-list span em {
    color: #999;
}

.my-drawmoney-list span.hail-fellow {
    width: 170px;
}

.my-drawmoney-list span.invite-time {
    width: 180px;
}

.my-drawmoney-list span.req-code {
    width: 150px;
}

.my-drawmoney-list span.invite-grade {
    width: 98px;
}

.my-drawmoney-list span.invite-status {
    width: 130px;
}

/*提现记录结束*/

/*投资记录开始*/
.ment-sorting {
    width: 750px;
    height: 48px;
    margin:10px 0 30px 0;
    border-bottom: 2px solid #F3270D;
}

.ment-sorting li {
    float: left;
    width: 110px;
    height: 48px;
    color: #F3270D;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.ment-sorting-red {
    color: #fff !important;
    background-color: #F3270D;
}

.ment-sorting li i.ment-sor-icon,
.ment-sorting li i.ment-sor-icons{
    position: absolute;
    top: 16px;
    right: 10px;
    width: 8px;
    height: 18px;
    background: url("../images/my-account.png") no-repeat;

}

.ment-sorting li i.ment-sor-icon {
    background-position:-319px -137px;
}
.ment-sorting li i.ment-sor-icons {
    background-position:-332px -137px;
}

.my-investment-list {
    margin-top: 10px;
}

.my-investment-list dt {
    width: 100%;
    height: 50px;
    font-weight: 400;
    background-color: #F3F3F3;
}

.my-investment-list dd {
    position: relative;
    cursor: pointer;
    border: 1px solid #ededed;
    border-top: none;
    border-bottom: none;
}

.my-investment-list dd .investment-icon-D {
    position: absolute;
    top: 22px;
    right: 30px;
    width: 14px;
    height: 7px;
    background: url("../images/my-account.png") no-repeat -236px -440px;
}

.my-investment-list span {
    display: inline-block;
    line-height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.my-investment-list span em {
    color: #999;
}

.my-investment-list span.hail-fellow {
    width: 240px;
}

.my-investment-list span.invite-time {
    width: 100px;
}

.my-investment-list span.req-code {
    width: 140px;
}

.my-investment-list span.invite-grade {
    width: 88px;
}

.my-investment-list span.invite-status {
    width: 130px;
}

.my-investment-list ul {
    height: 80px;
    width: 748px;
    border: 1px solid #ededed;
    border-top: none;
}

.my-investment-list li {
    float: left;
    width: 123px;
    height: 80px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-investment-list li span {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.my-investment-list li p {
    text-align: center;
    font-size: 14px;
}

/*投资记录结束*/